@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

header,
section {
  margin-bottom: 135px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}

.header {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/banner/banner3.png");
  background-size: cover;
}

.header-content {
  position: absolute;
  right: 230px;
  top: 216px;
  max-width: 525px;
  text-align: right;
  color: #fff;
}

.heading-primary {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.description {
  font-size: 16px;
  line-height: 26px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #005fac;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
}

/* main */
.main {
  max-width: 1140px;
  margin: 0 auto;
}

.failure-columns {
  display: flex;
  align-items: center;
  gap: 100px;
}

.failure-img {
  width: 451px;
  /* height: 898px; */
}

.failure-content {
  max-width: 416px;
}

.heading-secondary {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.failure-lists {
  list-style: none;
}

.failure-lists li {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #444343;
  font-size: 16px;
  line-height: 26px;
}

.material-symbols-outlined {
  color: #16d887;
  width: 24px;
  height: 24px;
}

.section-plans {
  text-align: center;
}

.plans-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.plan-img {
  width: 92.958px;
  height: 92.958px;
  margin-bottom: 25px;
}

.plan-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.plan-action {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

.section-cta {
}
